//Paleta
$ciudadano: #07BB2C;
$gris: #474B50;

$background-color: #00171F;
$footer-color: #003459;
$details-color: #00A7E1;
$font-color: #FAFAFA;
$submit-color: #00CC73;
$submit-color-darker: #00824A;

@mixin transicion-belnit {
    -webkit-transition: all 290ms cubic-bezier(0.820, 0.225, 0.355, 1.000); 
    -moz-transition: all 290ms cubic-bezier(0.820, 0.225, 0.355, 1.000); 
    -o-transition: all 290ms cubic-bezier(0.820, 0.225, 0.355, 1.000); 
    transition: all 290ms cubic-bezier(0.820, 0.225, 0.355, 1.000); /* custom */
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900&display=swap');


@font-face {
    font-family: 'ABCNormal-Bold';
    src: url('../fonts/ABCNormal-Bold.eot');
    src: local('☺'), url('../fonts/ABCNormal-Bold.woff') format('woff'), url('../fonts/ABCNormal-Bold.ttf') format('truetype'), url('../fonts/ABCNormal-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ABCNormal-Book';
    src: url('../fonts/ABCNormal-Book.eot');
    src: local('☺'), url('../fonts/ABCNormal-Book.woff') format('woff'), url('../fonts/ABCNormal-Book.ttf') format('truetype'), url('../fonts/ABCNormal-Book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ABCNormal-Light';
    src: url('../fonts/ABCNormal-Light.eot');
    src: local('☺'), url('../fonts/ABCNormal-Light.woff') format('woff'), url('../fonts/ABCNormal-Light.ttf') format('truetype'), url('../fonts/ABCNormal-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



body {
    font-family: 'Roboto', sans-serif;
    color: $gris;
    word-break: break-word;
    font-size: 16px;
    @media (max-width: 991px) {
        font-size: 15px;
    }
    @media only screen and (max-device-width: 991px) {
        font-size: 15px;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'ABCNormal-Bold', sans-serif;
    & > a {
        font-family: 'ABCNormal-Bold', sans-serif;
    }
}
h1, h2, h3, h4, h5, h6 {
    &::selection {
    }
    &::-moz-selection {
    }
}
.font-weight-bold {
    font-family: 'ABCNormal-Bold', sans-serif!important;
}
p, button, li, a {
    color: $gris;
    &::selection {
    }
    &::-moz-selection {
    }
}
a {
    &:hover {
        text-decoration-skip: ink;
        color: $ciudadano;
    }
}
img {
    max-width: 100%;
}
ul, ol, nav {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}
input, optgroup, select, textarea{
    position: relative;
    transition: all 0.2s;
}
*:focus, *:hover{
    outline: none!important;
    text-decoration: none!important;
}

.text-ciudadano {
    color: $ciudadano;
}