//FORMULARIOS EN GENERAL
form, .form-control {
    border: 0;
    input[type="tel"], input[type="password"], textarea, input[type="email"], input[type="text"], input[type="number"] {
        background: #FFFFFF;
        border: 1px solid rgba(7,187,44,0.21)!important;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
        border-radius: 8px!important;
        padding: .6em 1.4em .5em .8em;
        width: 100%;

        &:focus {
            outline: none;
            border: 1px solid #07BB2C!important;
            border-radius: 8px!important;
        }
        &.error {
            border: 2px solid #F00!important;
        }
    }
    input[type="checkbox"] {
        margin-top: 12px;

    }

    .select-css {
        display: block;
        font-size: 16px;
        font-family: sans-serif;
        font-weight: 700;
        color: #444;
        line-height: 1.3;
        padding: .6em 1.4em .5em .8em;
        width: 100%;
        max-width: 100%; 
        box-sizing: border-box;
        margin: 0;
        border: 1px solid rgba(7,187,44,0.21)!important;
        border-radius: 8px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        background-image:

            url("data:image/svg+xml,%0A%3Csvg width='21px' height='13px' viewBox='0 0 21 13' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M17.5,19.8126052 L9.78119739,12.0938026 C9.2116828,11.524288 8.2883172,11.524288 7.71880261,12.0938026 C7.14928802,12.6633172 7.14928802,13.5866828 7.71880261,14.1561974 L16.4688026,22.9061974 C17.0383172,23.475712 17.9616828,23.475712 18.5311974,22.9061974 L27.2811974,14.1561974 C27.850712,13.5866828 27.850712,12.6633172 27.2811974,12.0938026 C26.7116828,11.524288 25.7883172,11.524288 25.2188026,12.0938026 L17.5,19.8126052 Z' id='path-1'%3E%3C/path%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Página---Formato-formulario' transform='translate(-470.000000, -484.000000)'%3E%3Cg id='chevron-down' transform='translate(463.000000, 473.000000)'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cuse id='Shape' fill='%23000000' fill-rule='nonzero' xlink:href='%23path-1'%3E%3C/use%3E%3Cg id='COLOR/-black' mask='url(%23mask-2)' fill='%23000000' fill-rule='evenodd'%3E%3Crect id='Rectangle' x='0' y='0' width='35' height='35'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),
            linear-gradient(to bottom, #ffffff 0%,#FFF 100%);
        background-repeat: no-repeat, repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .65em auto, 100%;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
    }
    .select-css::-ms-expand {
        display: none;
    }
    .select-css:hover {
        border-color: #888;
    }
    .select-css:focus {
        border-color: #aaa;
        box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
        box-shadow: 0 0 0 3px -moz-mac-focusring;
        color: #222; 
        outline: none;
    }
    .select-css option {
        font-weight:normal;
    }

    label {
        font-size: 1.5em;
        margin-bottom: 10px;
        font-weight: 700;
        text-shadow: none;
        &.checkbox {
            box-sizing: border-box;
            display: block;
            height: 100%;
            width: 100%;
            cursor: pointer;
            border-radius: 8px;
            opacity: .5;
            transition: all .1s ease-in-out;
            &:hover, &:focus, &:active {
                color: #FFF;
                background-color: $ciudadano;
            }
        }

        &.form-check-label {
            a {
                color: $ciudadano;
                text-decoration: underline;
            }
        }
        &.error {
            display: block;
            font-size: 18px;
            padding-top: 12px;
        }

    }
    p {
        margin-bottom: 15px;
    }
}
form {
    &.disabled {
        cursor: not-allowed;
        opacity: .5;
    }
}
.form-control {
    border: 0!important;
}
.form-group {
    margin-bottom: 40px;
}

.form__answer {
    display: inline-block;
    width: 100%;
    margin: 0;
    text-align: center;
    border-radius: 8px;
}

input[type="radio"] {
    opacity: 0;
    width: 0;
    height: 0;
}

input[type="radio"]:active ~ label {
    opacity: 1;    
}

input[type="radio"]:checked ~ label {
    opacity: 1;
    background-color: $ciudadano;
    color: #FFF;
}

input[type="submit"], .cta {
    background: #07BB2C;
    border: 1px solid $ciudadano;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
    border-radius: 8px;

    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    padding: 16px 55px;
    margin: 20px auto;
    display: inline-block;
    cursor: pointer;
    &:hover {
        color: $ciudadano;
        background-color: #FFF;
    }
}
input[type="submit"] {
    &.cta {
        margin: 5px;
        padding: 10px 20px;
        font-size: 18px;
    }
    &.small-cta {
        margin: 5px;
        padding: 10px 20px;
        font-size: 18px;
    }
    &:disabled {
        cursor:not-allowed;
        opacity: .4;
    }
}
.small-cta {
    margin: 5px;
    padding: 10px 20px;
    font-size: 18px;
}
.smallest-cta {
    margin: 5px;
    padding: 5px 10px;
    font-size: 1em;
    box-shadow: none;
    border-radius: 5px;
}

.btn-verde {
    background: $ciudadano;
    border: 1px solid $ciudadano;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
    color: #FFF;

}

.toggle-handle {
    background-color: #FFF;
}
#single-content {
    .form-group {
        margin-bottom: 20px;
    }
    input[type="submit"], .cta {
        font-weight: 700;
        font-size: 18px;
        padding: 8px 24px;
        margin: 20px auto;
        display: inline-block;
        cursor: pointer;
    }
}

#login form {box-shadow: 2px 2px 7px rgba(0,0,0,.2);}