/* FONTS */
@import "fix"; 
@import "fonts";
@import "forms";

body {
    position: relative;
}
#header {
    z-index: 999;
    background-color: #FFF;
    @include transicion;
    &.scrolled {
        header {
            padding-top: 5px;
            padding-bottom: 5px;
            @include transicion;
        }
        #sub-header {
            height: 44px;
            @include transicion;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
            li {
                height: 44px;
                @include transicion;
            }
        }
    }
}
header {
    padding-top: 20px;
    padding-bottom: 20px;
    @include transicion;
    ul {
        li {
            .fa-3x {
                font-size: 2.3em;
            }
            a {
                color:$ciudadano;
            }
            h1 {
                margin-right: 20px;
                a {
                    color: $gris;
                }
            }
        }

    }
    .user-link {
        display: none;
        visibility: hidden;
    }
}
#sub-header {
    background-color: $gris;
    color: #FFF;
    @include transicion;
    height: 56px;
    .col-12 {
        justify-content: flex-end;
    }
    li {
        margin: 0;
        float: left;
        padding: 0;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            font-family: 'ABCNormal-Bold';
            //font-size: 1.75em;
            font-size: 24px;
            color: #FFFFFF;
            padding: 0 20px;
        }
        &:hover {
            a {
                color: $ciudadano;
            }
        }
        &.current-menu-item, &.current-page-ancestor {
            background-color: #FFF;
            a {
                color: $ciudadano;
            }
        }
    }
}

#nav-tab {
    .nav-link {
        border: 0;
    }
    .nav-item {
        color: $gris;
        font-weight: 400;
        background-color: rgba($ciudadano,.2);
        margin-right: 5px;
        &.active {
            background-color: rgba($ciudadano,1);
            font-weight: 700;
            color: #FFF;
        }
    }
}
.tab-pane {
    a {
        color: $ciudadano;
        text-decoration: underline;
    }
}

//HOME
section#main-header {
    background-image: url(../img/rand/03.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    height: 65vh;
    position: relative;

}
.slideshow {
    position: relative;
    z-index: 1;
    height: 65vh;
    width: 100%;
    overflow: hidden;
    .bg-over {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 9999;
    }
    #titulo-principal {
        position: absolute;
        top: 12%;
        left: 0;
        z-index: 999999;
        h1 {
            color: #FFF;
            text-shadow: 0 2px 6px rgba(0,0,0,0.50);
        }
    }

    .slider-track {
        transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    }

    .item {
        height: 100%;
        position: relative;
        z-index: 1;

        img {
            width: 100%;
            transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
            transform: scale(1.2);
            margin-top: -20%;
        }

        &.slick-active img {
            transform: scale(1);
        }
    }
}
#bajada {
    p {
        font-size: 20px;
        margin-bottom: 40px;
        color: #474B50;
    }
}
#cta-home {
    background-image: url(../img/bg-demanda.jpg);
    background-size: 100% auto;
    background-position: bottom center;
    height: 541px;
    background-repeat: no-repeat;
}
.big-cta {
    background-image: linear-gradient(180deg, #10DF58 0%, #07BB2C 100%);
    border-radius: 15px;
    color: #FFF;
    padding: 20px 38px;
    border: 0;
    margin: 50px 0 40px;
    cursor: pointer;
    font-size: 32px;
    text-align: center;
    font-weight: 700;
    border: 1px solid rgba($ciudadano,.01);
    &:hover {
        background-image: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
        color: $gris;
        border: 1px solid rgba($gris,.4);

    }
}
#preguntas-home {
    .item-organizo {
        width: 100%;
        border: 1px solid $ciudadano;
        position: relative;
        &:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

    }
}
.square-box{
    position: relative;
    width: 100%;
    overflow: hidden;
    border: 1px solid $ciudadano;
    margin-bottom: 40px;
}
.square-box:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.square-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    h1 {
        margin-bottom: 20px;
        color: $ciudadano;
        line-height: 39px;
    }
}
#blog {
    .card {
        border: 0;
    }
}

//SINGLE
#header-single {
    @include cover;
    height: 317px;
    margin-bottom: 50px;
}
#single-content {
    h3 {
        font-family: 'ABCNormal-Book';
    }
    p {
        a {
            color: $ciudadano;
            text-decoration: underline;
        }
    }
}
.accordion {
    h2 {
        cursor: pointer;
    }
    .table {
        a {
            color: $ciudadano;
            text-decoration: underline;
        }
    }
}
.modal {
    a {
        color: $ciudadano;
        text-decoration: underline;
    }
}
#participantes {
    .table td, .table th {
        padding: 5px;
        vertical-align: middle;
    }
}
blockquote {
    font-size: 1.2em;
    padding: 10px;
    border-radius: 8px;
    background-color: #EEE;
}
#area-privada {
    background-color: rgba(#c9c9c9,.4);
    border-top:  1px dotted #666;
    border-bottom:  1px dotted #666;
}
//SINGLE BLOG 
.hero-img {
    height: 300px;
}
#content-single {
    ul, p {
        margin-bottom: 20px;
    }
}

//PAGINACION
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;

    .page-numbers {
        padding: 5px 10px;
        background-color: #FFF;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
        &.current {
            background-color: $ciudadano;
            color: #FFF;
        }
    }
}
.bootstrap-table {
    .page-list {
        display: none;
        visibility: hidden;
    }
    .search-input {
        border: 1px solid $ciudadano!important;
    }
}

.table-admin {
    td, th {
        vertical-align: middle;
        padding: 0;
    }
    a {
        color: $ciudadano;
        text-decoration: underline;
    }
}
.table {
    height: auto;
    a {
        color: $ciudadano;
    }
    .thead-dark {
        th {
            background-color: $ciudadano;
            border-color: $ciudadano;
        }
    }
}

footer {
    min-height: 250px;
    height: auto;
    background-image: url(../img/bg-footer.png);
    background-position: top center;
    background-repeat: no-repeat;
}
#alert {
    z-index: 9999;
    .alert {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    }
}

.border-2 {
    border-top: 2px dotted;
}

// MEDIA QUERIES
/* para browser */
@media (max-width: 991px) {
    #header.scrolled {
        header {
            padding-top: 5px;
            padding-bottom: 0;
        }
    }
    header {
        padding-top: 5px;
        padding-bottom: 0;
        h1 {
            font-size: 16px;
        }
        .profile-link {
            display: none!important;
            visibility: hidden!important;
        }    
        .user-link {
            display: block;
            visibility: visible;
        }
        ul {
            li {
                .fa-3x {
                    transform: scale(.6);
                }
            }
        }
    }
    #sub-header {
        padding: 0;
        .container, p0 {
            padding: 0;            
        }
        .col-12 {
            justify-content: center;
        }
        li {
            a {
                font-size: 12px;
                padding: 0 10px;
            }
        }
    }
    #header {
        .logo {
            img {
                height: 50px;
            }
        }
    }

    .slideshow, section#main-header {
        height: 45vh;
    }
}
@media (max-width: 768px) {
    .slideshow, section#main-header {
        height: 24vh;
    }
    .slideshow {
        #titulo-principal {
            h1 {
                font-size: 2rem;
            }
        }
    }
    #cta-home {
        height: 440px;
        h2 {
            font-size: 20px;
        }
    }
    .big-cta {
        padding: 10px 19px;
        margin: 50px 0 40px;
        font-size: 16px;
    }
}
/* para dispositivo */
@media only screen and (max-device-width: 991px) {
}
@media only screen and (max-device-width: 768px) {
    #cta-home {
        height: 440px;
        h2 {
            font-size: 20px;
        }
    }
    .big-cta {
        padding: 10px 19px;
        margin: 50px 0 40px;
        font-size: 16px;
    }
}

