@charset "UTF-8";
/* FONTS */
/*Reset JP*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900&display=swap");
.box {
  display: block;
  height: auto;
  overflow: hidden; }

.fleft {
  float: left; }

.fright {
  float: right; }

.fcenter {
  margin: 0 auto; }

.fwidth {
  width: 100%; }

.fheight {
  height: 100%; }

p, a {
  margin: 0;
  padding: 0; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

a {
  text-decoration: none; }

.ocultar {
  display: none;
  visibility: hidden; }

.mostrar {
  display: block;
  visibility: visible; }

.no-column {
  padding-left: 0;
  padding-right: 0; }

.pl0 {
  padding-left: 0; }

.pr0 {
  padding-right: 0; }

ul li {
  list-style: none; }

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

h1, h2, h3, h4, h5, h6, p, button {
  margin: 0;
  padding: 0; }

.table {
  display: table;
  width: 100%;
  height: 100%; }

.table-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle; }

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center; }

body {
  transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  /* easeInOutQuad */
  -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased; }

@font-face {
  font-family: 'ABCNormal-Bold';
  src: url("../fonts/ABCNormal-Bold.eot");
  src: local("☺"), url("../fonts/ABCNormal-Bold.woff") format("woff"), url("../fonts/ABCNormal-Bold.ttf") format("truetype"), url("../fonts/ABCNormal-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'ABCNormal-Book';
  src: url("../fonts/ABCNormal-Book.eot");
  src: local("☺"), url("../fonts/ABCNormal-Book.woff") format("woff"), url("../fonts/ABCNormal-Book.ttf") format("truetype"), url("../fonts/ABCNormal-Book.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'ABCNormal-Light';
  src: url("../fonts/ABCNormal-Light.eot");
  src: local("☺"), url("../fonts/ABCNormal-Light.woff") format("woff"), url("../fonts/ABCNormal-Light.ttf") format("truetype"), url("../fonts/ABCNormal-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

body {
  font-family: 'Roboto', sans-serif;
  color: #474B50;
  word-break: break-word;
  font-size: 16px; }
  @media (max-width: 991px) {
    body {
      font-size: 15px; } }
  @media only screen and (max-device-width: 991px) {
    body {
      font-size: 15px; } }

h1, h2, h3, h4, h5, h6 {
  font-family: 'ABCNormal-Bold', sans-serif; }
  h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    font-family: 'ABCNormal-Bold', sans-serif; }

.font-weight-bold {
  font-family: "ABCNormal-Bold", sans-serif !important; }

p, button, li, a {
  color: #474B50; }

a:hover {
  text-decoration-skip: ink;
  color: #07BB2C; }

img {
  max-width: 100%; }

ul, ol, nav {
  margin: 0;
  padding: 0; }
  ul li, ol li, nav li {
    list-style: none; }

input, optgroup, select, textarea {
  position: relative;
  transition: all 0.2s; }

*:focus, *:hover {
  outline: none !important;
  text-decoration: none !important; }

.text-ciudadano {
  color: #07BB2C; }

form, .form-control {
  border: 0; }
  form input[type="tel"], form input[type="password"], form textarea, form input[type="email"], form input[type="text"], form input[type="number"], .form-control input[type="tel"], .form-control input[type="password"], .form-control textarea, .form-control input[type="email"], .form-control input[type="text"], .form-control input[type="number"] {
    background: #FFFFFF;
    border: 1px solid rgba(7, 187, 44, 0.21) !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 8px !important;
    padding: .6em 1.4em .5em .8em;
    width: 100%; }
    form input[type="tel"]:focus, form input[type="password"]:focus, form textarea:focus, form input[type="email"]:focus, form input[type="text"]:focus, form input[type="number"]:focus, .form-control input[type="tel"]:focus, .form-control input[type="password"]:focus, .form-control textarea:focus, .form-control input[type="email"]:focus, .form-control input[type="text"]:focus, .form-control input[type="number"]:focus {
      outline: none;
      border: 1px solid #07BB2C !important;
      border-radius: 8px !important; }
    form input[type="tel"].error, form input[type="password"].error, form textarea.error, form input[type="email"].error, form input[type="text"].error, form input[type="number"].error, .form-control input[type="tel"].error, .form-control input[type="password"].error, .form-control textarea.error, .form-control input[type="email"].error, .form-control input[type="text"].error, .form-control input[type="number"].error {
      border: 2px solid #F00 !important; }
  form input[type="checkbox"], .form-control input[type="checkbox"] {
    margin-top: 12px; }
  form .select-css, .form-control .select-css {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid rgba(7, 187, 44, 0.21) !important;
    border-radius: 8px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='21px' height='13px' viewBox='0 0 21 13' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M17.5,19.8126052 L9.78119739,12.0938026 C9.2116828,11.524288 8.2883172,11.524288 7.71880261,12.0938026 C7.14928802,12.6633172 7.14928802,13.5866828 7.71880261,14.1561974 L16.4688026,22.9061974 C17.0383172,23.475712 17.9616828,23.475712 18.5311974,22.9061974 L27.2811974,14.1561974 C27.850712,13.5866828 27.850712,12.6633172 27.2811974,12.0938026 C26.7116828,11.524288 25.7883172,11.524288 25.2188026,12.0938026 L17.5,19.8126052 Z' id='path-1'%3E%3C/path%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Página---Formato-formulario' transform='translate(-470.000000, -484.000000)'%3E%3Cg id='chevron-down' transform='translate(463.000000, 473.000000)'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cuse id='Shape' fill='%23000000' fill-rule='nonzero' xlink:href='%23path-1'%3E%3C/use%3E%3Cg id='COLOR/-black' mask='url(%23mask-2)' fill='%23000000' fill-rule='evenodd'%3E%3Crect id='Rectangle' x='0' y='0' width='35' height='35'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to bottom, #ffffff 0%, #FFF 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25); }
  form .select-css::-ms-expand, .form-control .select-css::-ms-expand {
    display: none; }
  form .select-css:hover, .form-control .select-css:hover {
    border-color: #888; }
  form .select-css:focus, .form-control .select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none; }
  form .select-css option, .form-control .select-css option {
    font-weight: normal; }
  form label, .form-control label {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: 700;
    text-shadow: none; }
    form label.checkbox, .form-control label.checkbox {
      box-sizing: border-box;
      display: block;
      height: 100%;
      width: 100%;
      cursor: pointer;
      border-radius: 8px;
      opacity: .5;
      transition: all .1s ease-in-out; }
      form label.checkbox:hover, form label.checkbox:focus, form label.checkbox:active, .form-control label.checkbox:hover, .form-control label.checkbox:focus, .form-control label.checkbox:active {
        color: #FFF;
        background-color: #07BB2C; }
    form label.form-check-label a, .form-control label.form-check-label a {
      color: #07BB2C;
      text-decoration: underline; }
    form label.error, .form-control label.error {
      display: block;
      font-size: 18px;
      padding-top: 12px; }
  form p, .form-control p {
    margin-bottom: 15px; }

form.disabled {
  cursor: not-allowed;
  opacity: .5; }

.form-control {
  border: 0 !important; }

.form-group {
  margin-bottom: 40px; }

.form__answer {
  display: inline-block;
  width: 100%;
  margin: 0;
  text-align: center;
  border-radius: 8px; }

input[type="radio"] {
  opacity: 0;
  width: 0;
  height: 0; }

input[type="radio"]:active ~ label {
  opacity: 1; }

input[type="radio"]:checked ~ label {
  opacity: 1;
  background-color: #07BB2C;
  color: #FFF; }

input[type="submit"], .cta {
  background: #07BB2C;
  border: 1px solid #07BB2C;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
  padding: 16px 55px;
  margin: 20px auto;
  display: inline-block;
  cursor: pointer; }
  input[type="submit"]:hover, .cta:hover {
    color: #07BB2C;
    background-color: #FFF; }

input[type="submit"].cta {
  margin: 5px;
  padding: 10px 20px;
  font-size: 18px; }

input[type="submit"].small-cta {
  margin: 5px;
  padding: 10px 20px;
  font-size: 18px; }

input[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: .4; }

.small-cta {
  margin: 5px;
  padding: 10px 20px;
  font-size: 18px; }

.smallest-cta {
  margin: 5px;
  padding: 5px 10px;
  font-size: 1em;
  box-shadow: none;
  border-radius: 5px; }

.btn-verde {
  background: #07BB2C;
  border: 1px solid #07BB2C;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  color: #FFF; }

.toggle-handle {
  background-color: #FFF; }

#single-content .form-group {
  margin-bottom: 20px; }

#single-content input[type="submit"], #single-content .cta {
  font-weight: 700;
  font-size: 18px;
  padding: 8px 24px;
  margin: 20px auto;
  display: inline-block;
  cursor: pointer; }

#login form {
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2); }

body {
  position: relative; }

#header {
  z-index: 999;
  background-color: #FFF;
  transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  /* easeInOutQuad */
  -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  #header.scrolled header {
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    /* easeInOutQuad */
    -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -o-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  #header.scrolled #sub-header {
    height: 44px;
    transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    /* easeInOutQuad */
    -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -o-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25); }
    #header.scrolled #sub-header li {
      height: 44px;
      transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      /* easeInOutQuad */
      -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -o-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }

header {
  padding-top: 20px;
  padding-bottom: 20px;
  transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  /* easeInOutQuad */
  -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  header ul li .fa-3x {
    font-size: 2.3em; }
  header ul li a {
    color: #07BB2C; }
  header ul li h1 {
    margin-right: 20px; }
    header ul li h1 a {
      color: #474B50; }
  header .user-link {
    display: none;
    visibility: hidden; }

#sub-header {
  background-color: #474B50;
  color: #FFF;
  transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  /* easeInOutQuad */
  -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  height: 56px; }
  #sub-header .col-12 {
    justify-content: flex-end; }
  #sub-header li {
    margin: 0;
    float: left;
    padding: 0;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center; }
    #sub-header li a {
      font-family: 'ABCNormal-Bold';
      font-size: 24px;
      color: #FFFFFF;
      padding: 0 20px; }
    #sub-header li:hover a {
      color: #07BB2C; }
    #sub-header li.current-menu-item, #sub-header li.current-page-ancestor {
      background-color: #FFF; }
      #sub-header li.current-menu-item a, #sub-header li.current-page-ancestor a {
        color: #07BB2C; }

#nav-tab .nav-link {
  border: 0; }

#nav-tab .nav-item {
  color: #474B50;
  font-weight: 400;
  background-color: rgba(7, 187, 44, 0.2);
  margin-right: 5px; }
  #nav-tab .nav-item.active {
    background-color: #07bb2c;
    font-weight: 700;
    color: #FFF; }

.tab-pane a {
  color: #07BB2C;
  text-decoration: underline; }

section#main-header {
  background-image: url(../img/rand/03.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  height: 65vh;
  position: relative; }

.slideshow {
  position: relative;
  z-index: 1;
  height: 65vh;
  width: 100%;
  overflow: hidden; }
  .slideshow .bg-over {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 9999; }
  .slideshow #titulo-principal {
    position: absolute;
    top: 12%;
    left: 0;
    z-index: 999999; }
    .slideshow #titulo-principal h1 {
      color: #FFF;
      text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5); }
  .slideshow .slider-track {
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1); }
  .slideshow .item {
    height: 100%;
    position: relative;
    z-index: 1; }
    .slideshow .item img {
      width: 100%;
      transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
      transform: scale(1.2);
      margin-top: -20%; }
    .slideshow .item.slick-active img {
      transform: scale(1); }

#bajada p {
  font-size: 20px;
  margin-bottom: 40px;
  color: #474B50; }

#cta-home {
  background-image: url(../img/bg-demanda.jpg);
  background-size: 100% auto;
  background-position: bottom center;
  height: 541px;
  background-repeat: no-repeat; }

.big-cta {
  background-image: linear-gradient(180deg, #10DF58 0%, #07BB2C 100%);
  border-radius: 15px;
  color: #FFF;
  padding: 20px 38px;
  border: 0;
  margin: 50px 0 40px;
  cursor: pointer;
  font-size: 32px;
  text-align: center;
  font-weight: 700;
  border: 1px solid rgba(7, 187, 44, 0.01); }
  .big-cta:hover {
    background-image: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
    color: #474B50;
    border: 1px solid rgba(71, 75, 80, 0.4); }

#preguntas-home .item-organizo {
  width: 100%;
  border: 1px solid #07BB2C;
  position: relative; }
  #preguntas-home .item-organizo:after {
    content: "";
    display: block;
    padding-bottom: 100%; }

.square-box {
  position: relative;
  width: 100%;
  overflow: hidden;
  border: 1px solid #07BB2C;
  margin-bottom: 40px; }

.square-box:before {
  content: "";
  display: block;
  padding-top: 100%; }

.square-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .square-content img {
    width: 100%;
    height: auto;
    margin-bottom: 20px; }
  .square-content h1 {
    margin-bottom: 20px;
    color: #07BB2C;
    line-height: 39px; }

#blog .card {
  border: 0; }

#header-single {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 317px;
  margin-bottom: 50px; }

#single-content h3 {
  font-family: 'ABCNormal-Book'; }

#single-content p a {
  color: #07BB2C;
  text-decoration: underline; }

.accordion h2 {
  cursor: pointer; }

.accordion .table a {
  color: #07BB2C;
  text-decoration: underline; }

.modal a {
  color: #07BB2C;
  text-decoration: underline; }

#participantes .table td, #participantes .table th {
  padding: 5px;
  vertical-align: middle; }

blockquote {
  font-size: 1.2em;
  padding: 10px;
  border-radius: 8px;
  background-color: #EEE; }

#area-privada {
  background-color: rgba(201, 201, 201, 0.4);
  border-top: 1px dotted #666;
  border-bottom: 1px dotted #666; }

.hero-img {
  height: 300px; }

#content-single ul, #content-single p {
  margin-bottom: 20px; }

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem; }
  .pagination .page-numbers {
    padding: 5px 10px;
    background-color: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25); }
    .pagination .page-numbers.current {
      background-color: #07BB2C;
      color: #FFF; }

.bootstrap-table .page-list {
  display: none;
  visibility: hidden; }

.bootstrap-table .search-input {
  border: 1px solid #07BB2C !important; }

.table-admin td, .table-admin th {
  vertical-align: middle;
  padding: 0; }

.table-admin a {
  color: #07BB2C;
  text-decoration: underline; }

.table {
  height: auto; }
  .table a {
    color: #07BB2C; }
  .table .thead-dark th {
    background-color: #07BB2C;
    border-color: #07BB2C; }

footer {
  min-height: 250px;
  height: auto;
  background-image: url(../img/bg-footer.png);
  background-position: top center;
  background-repeat: no-repeat; }

#alert {
  z-index: 9999; }
  #alert .alert {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25); }

.border-2 {
  border-top: 2px dotted; }

/* para browser */
@media (max-width: 991px) {
  #header.scrolled header {
    padding-top: 5px;
    padding-bottom: 0; }
  header {
    padding-top: 5px;
    padding-bottom: 0; }
    header h1 {
      font-size: 16px; }
    header .profile-link {
      display: none !important;
      visibility: hidden !important; }
    header .user-link {
      display: block;
      visibility: visible; }
    header ul li .fa-3x {
      transform: scale(0.6); }
  #sub-header {
    padding: 0; }
    #sub-header .container, #sub-header p0 {
      padding: 0; }
    #sub-header .col-12 {
      justify-content: center; }
    #sub-header li a {
      font-size: 12px;
      padding: 0 10px; }
  #header .logo img {
    height: 50px; }
  .slideshow, section#main-header {
    height: 45vh; } }

@media (max-width: 768px) {
  .slideshow, section#main-header {
    height: 24vh; }
  .slideshow #titulo-principal h1 {
    font-size: 2rem; }
  #cta-home {
    height: 440px; }
    #cta-home h2 {
      font-size: 20px; }
  .big-cta {
    padding: 10px 19px;
    margin: 50px 0 40px;
    font-size: 16px; } }

/* para dispositivo */
@media only screen and (max-device-width: 768px) {
  #cta-home {
    height: 440px; }
    #cta-home h2 {
      font-size: 20px; }
  .big-cta {
    padding: 10px 19px;
    margin: 50px 0 40px;
    font-size: 16px; } }
