/*

Theme Name: COP25 Ciudadana

Author: Juan Pablo Contreras - Guillermo Fuentes

*/

/* * * * * * * * * * * * * * *
 * WordPress Content Classes
 * * * * * * * * * * * * * * */

img {
  border: none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}
.alignright {
  display: inline;
  float: right;
  margin: 0.4rem 0 1.6rem 1.6rem;
}
.alignleft {
  display: inline;
  float: left;
  margin: 0.4rem 1.6rem 1.6rem 0;
}
.aligncenter {
  display: block;
  margin: 0.4rem auto 1.6rem auto;
}
.wp-caption {
  max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0;
}
.wp-caption-text {

}
.sticky {
  background: #f7f7f9;
  padding: 1rem;
}
.bypostauthor {
  background: #f7f7f9;
  padding: 0.5rem;
}
.gallery-caption {
  font-weight: bold;
}
/* Text meant only for screen readers */
.says,
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}
/* * * * * * * * * * * * * * *
 * ??? profit
 * * * * * * * * * * * * * * */

body > nav.navbar {
  border-radius: 0;
}

.main-container {
  border-radius: .25rem;
  background: white;
  padding-top: 1rem;
  margin-bottom: 2rem;
}
.widget {
  margin-bottom: 2rem;
}
.post {
  margin-bottom: 2rem;
}
nav.navbar {
  margin-bottom: 2rem;
}
.z-index-1{
  z-index: 100;
}
.z-index-2{
  z-index: 200;
}
.z-index-3{
  z-index: 300;
}
.text-spacing-sm{
  letter-spacing: 0.1rem;
}
.text-spacing-md{
  letter-spacing: 0.25rem;
}
.text-spacing-lg{
  letter-spacing: 0.5rem;
}
.text-spacing-xl{
  letter-spacing: 0.75rem;
}
.line-height-xs{
  line-height: 1;
}
.line-height-sm{
  line-height: 2;
}
.line-height-md{
  line-height: 3; 
}
.line-height-lg{
  line-height: 4; 
}
.line-height-xl{
  line-height: 5;
}
.font-weight-light{
  font-weight: 300;
}
.font-weight-black{
  font-weight: 700;
}